
version: "3.8"

services:
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    configs:
      - source: prometheus_cfg
        target: /etc/prometheus/prometheus.yml
    volumes:
      - prometheus_data:/prometheus
    command:
      - "--config.file=/etc/prometheus/prometheus.yml"
      - "--storage.tsdb.path=/prometheus"
    networks:
      - monitoring_net
    ports:
      - "9090:9090"

volumes:
  prometheus_data:

configs:
  prometheus_cfg:
    file: ./prometheus.yml   # relativo al compose

networks:
  monitoring_net:
    external: true
